.counterDisplay {
  margin-top: 60px;
  padding: 20px 0;
  text-align: center;

  .counterDisplay__rank {
    margin-bottom: 10px;
  }

  .counterDisplay__points {
    margin-bottom: 10px;
  }

  .counterDisplay__perSecond {
    margin-bottom: 10px;
  }
}