.destroyMachine {
  width: 90%;
  height: 60px;
  margin: 0 auto;
  margin-top: 10px;
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "name name"
    "photo price"
    "photo value";

    .destroyMachine__name {
      grid-area: name;
      width: 100%;
      height: 100%;
      background-color: gray;
    }

    .destroyMachine__photo {
      grid-area: photo;
      width: 100%;
      height: 100%;
      background-color: blue;
    }
    .destroyMachine__price {
      grid-area: price;
      width: 100%;
      height: 100%;
      // background-color: red;
    }
    .destroyMachine__value {
      grid-area: value;
      width: 100%;
      height: 100%;
      background-color: orange;

    }

  }

.destroyMachine--nonvisible {
  filter: brightness(0);
  cursor: default;
}

.destroyMachine--disabled {
  filter: grayscale(1);
  cursor: default;
}